* {
	-o-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
font-size: 62.5%;
}
body {
	margin: 0; /* marges et espacements a zero */
	padding: 0;
	text-align: center; /* instruction pour d'anciennes versions d'IE qui ne comprend pas la déclaration margin:0 auto;  */
}
#container {
	margin: 0 auto; /* centrer le bloc container dans la fenetre du navigateur avec des marges automatiques a gauche et a droite */
	width: 970px;
	font-size: 12px; font-size:1.2rem; /* caractéristiques du texte */
	font-family: Arial,Helvetica,sans-serif;
	text-align: justify;
}
header {  
	padding:0 40px 0 0; /* pour espacer item du bord droit */
	height:60px; 
	background-image: url(../galerie-images/header-fond.gif);
	/* pour le titre et la navigation positionnés côte à côte */
	display:flex;
	flex-direction:row; /* declaration pas utile car row est la vaeur par défaut */
	justify-content: space-between; 
	align-items:center; /* alignement vertical */
}
a {
	outline:0;	
}
h1 span{
	display: none; /* je maintiens le titre de niveau1 utile au référencement mais je le cache car j'ai introduit une image a la place */
}
ul#menu, ul.sous-menu { /* pas de puces sur les listes et tous les espacements et marges à zéro */
	list-style-type:none;
	margin:0;
	padding:0;
	/* pour les items du menu de navigation */ 
	display:flex;
	justify-content:center;
	align-items:center; /* alignement vertical */
	font-weight:bold;
}
 a {
	text-decoration:none;
	color:white;
	outline:none;
}
/******************** liste déroulante **************************/
ul#menu li{ 
	padding:6px 10px; /* pour étoffer l'item; */
}
ul#menu li:hover {  /* au passage du curseur sur l'item "li:hover", la couleur de fond  devient noire */
	background-color:#000;
}
ul#menu {	
	padding:0;
	margin:0;
}
ul#menu li ul.sous-menu { /* les sous-menus "ul.sous-menu" n'apparaissent pas à l'ouverture de la page */
	display:none; /* on cache */
}
ul#menu li:hover ul.sous-menu {/* reapparition du sous-menu "ul.sous-menu" au survol d'un item du menu "ul#menu li:hover" */
	display:block;  /* on fait réapparaître */
	position:absolute; /* pour stabiliser le menu déroulant */
	margin-top:5px; /* espace le sous menu du menu */
}
ul#menu li ul.sous-menu li { /* Les items des sous-menus ont une largeur de 180px et une marge en haut de 1px */
	background-color:#000;
	width:180px;
	margin-top:1px; /* espace les items */
}
ul#menu li ul.sous-menu li:hover{  /* La couleur de fond change au survol du bouton */
	background-color:#c00;	
}
/******************** fin liste déroulante **************************/
/* bloc content partie haute */
#content-top { /* bloc content partie haute */
	padding: 0 40px 20px 40px;
	background-image: url(../galerie-images/content-haut-fond.gif);
	/* pour la grande image et les vignettes côte à côte*/
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center; /* alignement vertical */

}
#grande-photo h3 {
	font-variant: small-caps;
	font-size: 16px; font-size:1.6rem; 
	margin:15px 0;
	padding:0;
}
#grande-photo img {
	border: 1px solid #ccc;
	}
ul#galerie-vignettes {
		padding:0;
	margin-top:35px;
	list-style-type: none; /* les vignettes sont insérées dans une  liste a puces */
	display:flex;
	flex-wrap:wrap;
}
ul#galerie-vignettes li { /* les items vignettes sont sorties du flux, elles flottent dans le bloc de 400px de large, elles seront distribuées sur deux rangées */
	margin:0 2px;
}
ul#galerie-vignettes li img {
	border: 1px solid #ccc;
}
ul#galerie-vignettes li a {
	outline:none;
}
#content-bottom {
	padding: 0 40px 20px 40px;
	background-image: url(../galerie-images/content-bas-fond.gif);
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around; /* espace autour des blocs horizontalement */
}
article {
	flex-basis:30%; /* indication necessaire quand on utilise flex-wrap sur du texte long*/
}
#content-bottom h2 {
	background-image:url(../galerie-images/etoile-bleue.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:30px;
	margin:10px 0;
}
p.suite  {
	text-align:right;
}
p.suite a {
	text-decoration:none;
	color:#336e9c;
	font-style:italic;
}
#content-bottom h2, #footer h2 {
	font-variant: small-caps;
	line-height:40px;
}
footer {
	padding:10px 50px;
	color: #ccc;
	background-image: url(../galerie-images/footer-fond.gif);
	line-height:22px;
	text-align:left;
	display:flex;
	flex-direction:row; /* les uns à côté des autres */
	flex-wrap:wrap;
	justify-content: space-between;
}
div.bloc {
	flex-basis:33%;
}
@media screen and (max-width: 800px) {
	.no-mob {
		display:none;
	}
	#container, header, h1, nav, section#content-top, div#grande-photo, ul#galerie-vignettes , section#content-bottom, article, footer, .bloc {
		width:100%;
		padding:0;
		margin:0;
	}
	header {
		background-image: url(../galerie-images/header-fond.png); /* image en 80px de haut*/
		height:80px; /* */
		flex-direction:column; 
	}
	h1 { 
		padding-top:5px;
	}
	ul#menu {	
	align-items :center; 
	}
	#content-top {
		text-align:center;
		flex-direction:column;
		align-items:center;
	}
	ul#galerie-vignettes {
		background-color:#2E6693;
		margin-top:10px;
		padding-bottom:10px;
	}
	img {
		max-width:100%;
		height:auto;
	}
	article, div.bloc {
		flex-basis:49%;
		padding:5px 10px;
	}
	div.bloc:nth-of-type(2) {
		display:none;
	}
}
@media screen and (max-width: 480px) {
	ul#menu li ul.sous-menu li { 
		width:150px;
	}
	ul#galerie-vignettes {
		background-color:#33709F;
	}
	article {
		flex-basis:100%;
	}
	.bloc {
		flex-basis: 45%;
	}
}
@media screen and (max-width: 320px) {
	.bloc {
		flex-basis:100%;
	}
}