* {
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box;
margin:0;
padding:0;
} 
html {
	font-size:62.5%;
}
/* declaration pour IE */
html, body, main, section, article, aside {
	
}

body{
	display:flex;
}

nav{
	position:fixed;
	background-color: rgb(127, 6, 6); 
	width: 330px;
	height: 860px;
}

nav ul{
	margin-top: 100px; 
	
	list-style-type: none;
	margin-right: 2em;
	font-size: 16px; 
	float: right;
}

nav li a {
	color: white;
	text-decoration: none;
}

main {
	width: 660px;
	margin-left: 340px;
}

section h1{
	text-align: right;
}

#sous-titre {	
	color:DarkGrey;	
	border-bottom: 10px solid lightgrey;
	font-size:  15px;
	font-weight:bold;
	font-family:  CenturyGothic;
	text-align: right;
}

div img{
	float: left;
}
.zone-separation {
	height: 10px;
	width: auto;
	margin: 10px 0 10px 0;
	border-bottom: 1px dotted rgb(150, 144, 144);
	clear: both;
}

/*  this is the portfolio*/
#icon-container{
	display:  flex;
	justify-content: space-between;
	flex-direction:row; /* declaration pas utile car row est la vaeur par défaut */	
}
section ul{
margin: 10px;
list-style-type: none;

display:  flex;
flex-wrap: wrap;


/*justify-content: space-between;*/
}

section ul li{
margin: 10px;
list-style-type: none;
border: 4px solid lightgrey;
display:  flex;
flex-direction:row; 
justify-content: space-between;
}
section h3{
	color: rgb(127, 6, 6); 
}

div article{
	width: 30%;
	
	
}
h2 {
	text-align: right;
}
section p {
	text-align: right;
}

summary{
    padding: 5px 10px;
    background-color: #8B2322;
    cursor: pointer;
}

/*#realisations{
border: 4px solid red;	
display: flex;

}


#realisations ul {

 
	
}


