*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    box-sizing:border-box;
    margin:0;
    padding:0;
    
}


#side_orange{
    position:fixed;
    
}
#container{
    width: 970px;
    
    margin: auto;
}

header{
    background-image: url(../images/header.png);
    color:white;
    padding-bottom: 20px;
    padding-top: 20px; 
}
header img{
    margin-left: 70px;
}
h1{
   text-align: right;
}
span{
    font-style: italic;
}
nav{ padding-top: 10px;
    background-image: url(../images/);
    width: 200px;
}
nav a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 16px;
    margin-left: 10px; 
    
}
li:first-child {
    background-color: red;
}
li:nth-child(2) {
    background-color: yellow;
}

li:last-child {
    background-color: orange;
}
h2{
    width:  200px;
    height: 200px;
    display: inline-block;
}

#section1 h2:first-child{
    background-color: orangered;
    color: white;
    
}
#section2 h2:first-child{
    background-color: yellow;
    color: white;
}
#section3 h2:first-child{
    background-color: coral;
    color: white;  
}


#section1{
    padding-top: 15px;
}
#section2{
    padding-top: 15px;
    padding-bottom: 15px;
}
#section3 div{
    margin;0;
    width: 200px;
    height:auto;
    padding-left: 15px;
       
}

#section3 {
    display: flex;
    padding-top: 20px;
}

#section3 h2{
    width:  200px;
    height: 200px;
    display: inline-block;
}

section figure{
    display: inline-block;
    vertical-align: top;
    height: 180px;
    width: 180px;
    text-overflow: clip;
}

video {
    width:  500px;}
    
#footerContainer{
    display: flex;
    flex-wrap: wrap
    border: 2px solid orange;
     
}

footer{
    padding-bottom: 120px;    
   
}