*{margin: 0;
padding: 0;}

h1, h3{margin: 0; 0}

.simple{
   border: none !important;
    background-color: transparent;
    
}

.simple a{
    color: saddlebrown;
} 
header.orange{
    width: 100vw;
    height: auto;
    min-width: 320px;
    background-color: orange;
    color: white;   
}
section.content{
    width: 100vw;
    background-color: transparent;
    margin: 0;
    padding: 0;    
    display: flex;
    -moz-display:flex;
    -o-display:flex;
    -ms-display:flex;
    -webkit-display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-flex-flow:wrap row;
    -webkit-flex-flow:wrap row;
    /*flex:1;*/
    
}

article.bloc{
    width: 50vw;
    height: auto;
    min-width: 320px;
    background-color: beige;
    overflow: auto;
}


article.bloc:nth-child(2){
    background: burlywood;
    display: flex;
    flex-flow: wrap row; 
} 
header.title{
    margin: 10px;
    background-color: orangered;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    color: white;
} 
p.description, p.chapter{
    padding: 25px;
    box-sizing: border-box;
} 
div.txt{
    width: 50vw; 
    height: auto; 
    background: rgba(255,255,255,.6);
    min-width: 320px;
    margin: 10px;   
}

footer.about{
    background: black;
    height: 50px;
    width: 100vw;
    color: aliceblue;
     box-sizing: border-box;
    padding: 10px;
}



@media screen and (min-width:319px) and (max-width:780px){
    /*declaration de navbar toggle*/

navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin-top: 30px
    }
   
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    
   div.container.large{
    padding-right: 60px;
   background: black;
   width: 100vw;
    height: auto;} 
    
    header.orange{
    width:100vw;
    height:auto;
    min-width: 320px;
    background: black;
    color: white}
    
}
    


